/* REGOLE GENERALI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

main section {
    margin: 30px 20px;
    color: white;
}

a {
    text-decoration: none;
    display: inline-block;
}

.grey-a {
    color: #76797d;
}

.white-a {
    color: white;
}

ul {
    list-style-type: none;
}

/* REGOLE PARTE SUPERIORE */

.container {
    display: flex;
    overflow: hidden;
}


/* regole barra sinistra fissa */

#left-bar {
    width: 225px;
    height: calc(100vh - 70px);
    background-color: black;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* regole parte home */
#logo img {
    width: 80%;
}

#logo {
    margin-bottom: 20px;
}

#alternative-logo {
    display: none;
    width: 100%;
}

#alternative-logo img {
    width: 100%;
}

.left-bar-a {
    width: 100%;
    font-weight: bold;
    font-size: smaller;
    display: flex;
    align-items: center;
    padding: 3px 0;
}

#position {
    position: relative;
}

.left-bar-a div {
    height: 40px;
    width: 5px;
    background-color: #9be52d;
    position: absolute;
    left: -20px;
}

.left-bar-icons {
    display: inline-block;
    width: 15%;
    margin-right: 5px;
    filter: invert(52%) sepia(6%) saturate(248%) hue-rotate(175deg) brightness(89%) contrast(92%);
}

.left-bar-a:hover {
    color: white;
}

.left-bar-a:hover .left-bar-icons {
    filter: none;
}


/* regole parte playlist */
#playlist {
    color: white;
    margin-top: 20px;
}

#add-playlist {
    margin: 10px 0;
}

#add-play-icon {
    display: inline-block;
    font-size: 30px;
    color: black;
    background-color: #808080;
    margin-right: 5px;
    padding: 0 10px;
}

#add-play-text {
    font-size: larger;
}

#add-playlist:hover #add-play-icon {
    background-color: white;
}

/* regole lista playlist */
#list-container {
    overflow-y: auto;
    flex-grow: 1;
}

.list-a {
    width: 100%;
    font-weight: bold;
    font-size: smaller;
    color: #76797d;
    margin-bottom: 10px;
}

.list-a:hover {
    color: white;
}


/* regole parte profilo */

#download-icon {
    width: 10%;
    margin-right: 10px;
}

#spacer {
    width: 90%;
    height: 1px;
    background-color: #76797d;
    margin: 5px 0;
}

#profile-image {
    margin-right: 10px;
    filter: none;
    background-color: #808080;
    border-radius: 50%;
}

#profile-image img {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}


/* regole barra sinistra responsive */
/* mobile */

@media screen and (max-width: 553px) {
    #left-bar {
        width: 50px;
        padding: 10px;
    }

    #logo, .left-bar-a div, .no-display-text, #playlist, #spacer {
        display: none;
    }

    #alternative-logo {
        display: inline-block;
    }

    .left-bar-icons {
        width: 100%;
        margin-right: 0;
    }

    #download-icon {
        width: 80%;
        margin-right: 0;
    }

    #profile-image {
        margin-right: 0;
    }

}




/* regole contenuto principale */

main {
    width: calc(100vw - 225px);
    height: calc(100vh - 70px);
    background-color: #141922;
    overflow-y: auto;
    padding-top: 70px;
}


/* regole barra superiore fissa */
#upgrade-bar {
    width: calc(100% - 225px);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link-box {
    border: 2px solid white;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 15px;
}

.link-box:hover {
    font-size: 20px;
}


/* regole menu di navigazione centrale */
#center-nav {
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
}

#center-nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#center-nav li a {
    font-weight: bold;
}

#center-nav li a:hover {
    color: white;
}



li div {
    width: 40%;
    height: 2px;
    background-color: #9be52d;
    margin: 0 auto;
}

/* regole main responsive */
/* mobile */
@media screen and (max-width: 553px) {
    main {
        width: calc(100vw - 50px);
    }

    #upgrade-bar {
        width: calc(100% - 50px);
    }
}



/* regole sezione recently played */

.flex-container {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.cards {
    width: calc(100% / 6 - 20px);
    flex-shrink: 0;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 100%;
}

.card-text {
    text-align: center;
}

.card-text h4 {
    margin: 5px 0;
}

.subtitle a {
    font-size: 15px;
}

/* funzionalità hover cards */
.hover-play {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.hover-play .fa-circle-play {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards:hover {
    cursor: pointer;
}

.cards:hover .hover-play {
    display: inline-block;
}


/* recently played responsive */
/* testo responsive */
@media screen and (max-width: 1000px) {

    .card-text {
        font-size: 10px;
    }

    .subtitle a {
        font-size: 8px;
    }

    .hover-play .fa-circle-play {
        font-size: 2em;
    }
}

/* tablet 1 */
@media screen and (max-width: 879px) {
    .flex-container {
        flex-wrap: wrap;
    }

    .cards {
        width: calc(100% / 4 - 20px);
    }
} 

/* tablet 2 */
@media screen and (max-width: 640px) {
    
    .cards {
        width: calc(100% / 2 - 20px);
    }

    .card-text {
        font-size: 15px;
    }

    .subtitle a {
        font-size: 10px;
    }

    .hover-play .fa-circle-play {
        font-size: 3em;
    }
} 


/* regole sezione suggerimenti */

.long-subtitle {
    display: inline-block;
    color: #76797d;
    margin-top: 15px;
}


/* regole sezione artisti */

.rounded {
    border-radius: 50%;
}



/* REGOLE PLAYER INFERIORE */

#player {
    width: 100%;
    height: 70px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.side {
    display: flex;
    align-items: center;
    width: 20%;
}

/* regole parte sinistra */
#song-image {
    width: 20%;
}

#song-image img {
    width: 80%;
}

#name-song a {
    font-size: 15px;
}

#name-song a:hover {
    color: white;
    text-decoration: underline;
}

#side-icons {
    margin-left: 30px;
}

#side-icons a {
    padding: 0 5px;
}

#side-icons a:hover {
    color: white;
}


/* regole parte destra */
#right {
    justify-content: flex-end;
}

#right a {
    padding: 0 10px;
}

.bar {
    height: 3px;
    background-color: #76797d;
    border-radius: 3px;
}

#right-bar {
    width: 30%;
    flex-shrink: 0;
}

.active-bar {
    height: 100%;
    width: 25%;
    background-color: white;
    border-radius: 3px;
    position: relative;
}

.fa-circle {
    color: white;
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    display: none;
}

.bar:hover {
    cursor: pointer;
}

.bar:hover .active-bar {
    background-color: #9be52d;
}

.bar:hover .fa-circle {
    display: inline-block;
}


/* regole parte centrale */
.middle {
    width: 40%;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls a {
    padding: 0 10px;
    font-size: 20px;
}

#controls a .fa-circle-play {
    font-size: 30px;
}

#controls a .fa-circle-play:hover {
    font-size: 35px;
}

#bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#bar-container span {
    color: white;
    font-size: 10px;
    font-weight: bold;
}

#middle-bar {
    width: 70%;
    margin: 0 10px;
}

